In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('FoodPrice_in_Turkey.csv', header=0, encoding='ISO-8859-1')
display(data)

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [3]:
# số hàng, cột
print(data.shape)

(7381, 8)

In [4]:
data.columns

Index(['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year',
       'Price'],
      dtype='object')

In [5]:
# đổi tên 1 cột xác định
data.rename(columns={'Place' : 'Địa điểm'}, inplace=True)

# đối tên nhiều cột
data.rename(columns={'Place' : 'Địa điểm', 'ProductId' : 'Mã SP'}, inplace=True)

# đối tên toàn bộ cột
data.columns = ["Địa điểm", "Mã SP", "Tên SP", "Đơn vị", "Tên đơn vị", "Tháng", "Năm", "Giá"]
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [6]:
data['cột mới'] = np.nan
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [7]:
data.insert(8,'Chiết khấu (%)', np.random.randint(0,20,size=(data.shape[0],1)))
display(data)
data.info()

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,17,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,3,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,14,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,1,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,6,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,6,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,14,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,16,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,17,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,10,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Địa điểm        7381 non-null   object
 1   Mã SP           7381 non-null   int64
 2   Tên SP          7381 non-null   object
 3   Đơn vị          7381 non-null   int64
 4   Tên đơn vị      7381 non-null   object
 5   Tháng           7381 non-null   int64
 6   Năm             7381 non-null   int64
 7   Giá             7381 non-null   float64
 8   Chiết khấu (%)  7381 non-null   int32
 9   cột mới         0 non-null      float64
dtypes: float64(2), int32(1), int64(4), object(3)
memory usage: 547.9+ KB

In [8]:
data.insert(5,'Số lượng', 10)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
1,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
2,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
3,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,1,NaN
4,National Average,52,Rice - Retail,5,KG,10,1,2014,5.5099,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,10,8,2019,47.9040,6,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN

In [9]:
# thêm dòng vào cuối bảng
data.loc[data.shape[0]] = ['Sài Gòn', 3000, "Dưa hấu", 5, 'KG', 10, 6, 2022, 50.000, 0, np.NaN]
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
1,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
2,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
3,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,1,NaN
4,National Average,52,Rice - Retail,5,KG,10,1,2014,5.5099,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

In [10]:
# thêm dòng vào đầu bảng
data.loc[-1] = ['Hà Nội', 3000, "Dưa hấu", 5, 'KG', 10, 6, 2022, 50.000, 0, np.NaN]
# Update index của bảng 
data.index = data.index + 1
# sắp xếp lại bảng
data = data.sort_index()
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
4,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

In [11]:
# chèn thêm dòng ở vị trí mong muồn phải lấy số nhỏ hơn vị trí tương ứng
# nếu lấy bằng vị trí mong muốn sẽ thành thay thế
data.loc[2.5] = ['Huế', 3000, "Dưa hấu", 5, 'KG', 10, 6, 2022, 50.000, 0, np.NaN]
# Sắp xếp lại các hàng theo đúng số thứ tự từ nhỏ tới lớn
data = data.sort_index().reset_index(drop=True)
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

In [12]:
# xóa cột sử dụng del
data2 = data
display(data2)
# xóa cột ngay trên file gốc rất nguy hiểm
#del data2['cột mới']
display(data2)
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

In [13]:
# xóa cột sử dụng pop
data3 = data
display(data3)
# xóa cột ngay trên file gốc rất nguy hiểm => hạn chế dùng
#data3.pop('cột mới')
display(data3)
display(data)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

In [14]:
# xóa sử dụng hàm drop
# df.drop('Tên cột cần xóa', axis=1, inplace=True/False)
data4 = data
data5 = data4.drop('cột mới', axis=1)
display(data)
display(data4)
display(data5)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%)
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14
...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0

In [15]:
data6 = data.drop(['cột mới', 'Số lượng'], axis=1)
display(data6)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%)
0,Hà Nội,3000,Dưa hấu,5,KG,6,2022,50.0000,0
1,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,17
2,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,3
3,Huế,3000,Dưa hấu,5,KG,6,2022,50.0000,0
4,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,14
...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,14
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,16
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,17
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,10
7383,Sài Gòn,3000,Dưa hấu,5,KG,6,2022,50.0000,0

In [16]:
# xóa dòng cuối cùng
data6 = data.drop(data.shape[0]-1, axis=0)
display(data6)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,8,2019,47.9040,6,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN

In [17]:
# Xóa dòng đầu tiên của bảng
data7 = data.drop(0, axis=0)
display(data7)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
2,National Average,52,Rice - Retail,5,KG,10,6,2013,4.5786,3,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
5,National Average,52,Rice - Retail,5,KG,10,12,2013,5.1337,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN

In [18]:
# Xóa dòng thứ 3 và thứ 6
data8 = data.drop([2,5], axis=0)
display(data8)

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Số lượng,Tháng,Năm,Giá,Chiết khấu (%),cột mới
0,Hà Nội,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
1,National Average,52,Rice - Retail,5,KG,10,5,2013,4.4920,17,NaN
3,Huế,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN
4,National Average,52,Rice - Retail,5,KG,10,11,2013,4.7865,14,NaN
6,National Average,52,Rice - Retail,5,KG,10,1,2014,5.5099,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,9,2019,49.1176,14,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,10,2019,50.8347,16,NaN
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,10,11,2019,51.7985,17,NaN
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,10,12,2019,51.6071,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,6,2022,50.0000,0,NaN