In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('OnlineRetail.csv', header=0, encoding='ISO-8859-1')
display(data)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [2]:
#tìm số hàng và số cột của sữ liệu
print('So hang la:', data.shape[0], 'va so cot la:', data.shape[1])

So hang la: 541909 va so cot la: 8

In [3]:
# Việt hóa tiêu đề
data.columns = ['So hoa don', 'Ma hang hoa', 'Mo ta', 'So luong', "Ngay", 'Don gia', 'Ma KH', 'Nuoc']
display(data)

,So hoa don,Ma hang hoa,Mo ta,So luong,Ngay,Don gia,Ma KH,Nuoc
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [4]:
# Thêm cột tiền vào sau cuối
# object > float > int > NaN
data['Tien'] = np.NaN
display(data)

,So hoa don,Ma hang hoa,Mo ta,So luong,Ngay,Don gia,Ma KH,Nuoc,Tien
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,NaN
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,NaN
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,NaN
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,NaN
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,NaN

In [5]:
# Thêm cột tiền vào sau cuối

data.insert(6, 'Chiet khau (%)', 3)
data

,So hoa don,Ma hang hoa,Mo ta,So luong,Ngay,Don gia,Chiet khau (%),Ma KH,Nuoc,Tien
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,3,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,3,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,3,12680.0,France,NaN
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,3,12680.0,France,NaN
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,3,12680.0,France,NaN
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,3,12680.0,France,NaN
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,3,12680.0,France,NaN

In [6]:
 # thêm 1 sản phẩm hàng 541905
data.loc[541904.8] = ['324345', '34534B', "Noi chien khong dau", 1000, '23/6/2022 20:30', 50.2, 3, 312313.0, 'Vietnam', np.NaN]
data = data.sort_index().reset_index(drop=True)
display(data)
data.tail(20)

,So hoa don,Ma hang hoa,Mo ta,So luong,Ngay,Don gia,Chiet khau (%),Ma KH,Nuoc,Tien
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,3,17850.0,United Kingdom,NaN
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,NaN
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,3,17850.0,United Kingdom,NaN
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,NaN
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,NaN
...,...,...,...,...,...,...,...,...,...,...
541905,324345,34534B,Noi chien khong dau,1000,23/6/2022 20:30,50.20,3,312313.0,Vietnam,NaN
541906,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,3,12680.0,France,NaN
541907,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,3,12680.0,France,NaN
541908,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,3,12680.0,France,NaN
541909,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,3,12680.0,France,NaN

,So hoa don,Ma hang hoa,Mo ta,So luong,Ngay,Don gia,Chiet khau (%),Ma KH,Nuoc,Tien
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,12/9/2011 12:49,2.95,3,13113.0,United Kingdom,NaN
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,12/9/2011 12:49,1.25,3,13113.0,United Kingdom,NaN
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,12/9/2011 12:49,8.95,3,13113.0,United Kingdom,NaN
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/2011 12:49,7.08,3,13113.0,United Kingdom,NaN
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,3,12680.0,France,NaN
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,3,12680.0,France,NaN
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,3,12680.0,France,NaN
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,3,12680.0,France,NaN
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,3,12680.0,France,NaN
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,3,12680.0,France,NaN
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,3,12680.0,France,NaN
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,3,12680.0,France,NaN
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,3,12680.0,France,NaN
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,3,12680.0,France,NaN
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,3,12680.0,France,NaN
541905,324345,34534B,Noi chien khong dau,1000,23/6/2022 20:30,50.20,3,312313.0,Vietnam,NaN
541906,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,3,12680.0,France,NaN
541907,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,3,12680.0,France,NaN
541908,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,3,12680.0,France,NaN
541909,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,3,12680.0,France,NaN

In [7]:
# tính tiền: Tien = so luong x don gia x chiet khau 
data['Tien'] = data['So luong'] * data['Don gia'] * (100- data['Chiet khau (%)'])/100
data

,So hoa don,Ma hang hoa,Mo ta,So luong,Ngay,Don gia,Chiet khau (%),Ma KH,Nuoc,Tien
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,3,17850.0,United Kingdom,14.8410
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,19.7298
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,3,17850.0,United Kingdom,21.3400
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,19.7298
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,3,17850.0,United Kingdom,19.7298
...,...,...,...,...,...,...,...,...,...,...
541905,324345,34534B,Noi chien khong dau,1000,23/6/2022 20:30,50.20,3,312313.0,Vietnam,48694.0000
541906,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,3,12680.0,France,12.2220
541907,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,3,12680.0,France,16.1020
541908,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,3,12680.0,France,16.1020
541909,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,3,12680.0,France,14.4045

In [8]:
# lưu dữ liệu
data.to_csv('Ketquahomnay.csv')
print('Xuat file thanh cong')

Xuat file thanh cong